@font-face {
    font-family:'Inter';
    src: url('../vendor/Inter//Interregular.woff2') format('woff2'),
         url('../vendor//Inter/Interregular.ttf') format('truetype'),
         url('../vendor/Inter/Interregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
     font-family:'Inter';
     src: url('../vendor/Inter/Interblack.woff2') format('woff2'),
          url('../vendor/Inter/Interblack.ttf') format('truetype'),
          url('../vendor/Inter/Interblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
 