/* Надеюсь я правильно понял, что вы имели в виду, рекомендуя сделать стили ссылки блоком:)*/
/* была идея зафиксировать в этих стилях еще интерлиньяж, размер шрифта и цвет*/
/* но тогда блок будет не по БЭМ? Цвет и пр.нюансы же модификаторами должны задаваться?*/
.page-link {
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.4s ease-in-out;
}
.page-link:hover {
    opacity: 0.8;
    cursor: pointer;
}
